<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
<h1>
  <table>
    <tr>
      <td>
        <img src="./assets/icons/boisko32white.png">
      </td>
      <td>
        S P O T C R E W
      </td>
    </tr>
  </table>
</h1>
<router-outlet></router-outlet>
