
<div id="map" class="map"
     leaflet
     [leafletOptions]="options"
     [leafletLayers]="layers"
     (leafletClick)="showCoordinates($event)"
     (leafletMapReady)="onMapReady($event)"
     (leafletMapMoveEnd)="findVenues()">

</div>
<button (click)="refreshLocalization()">Odśwież lokalizacje</button>
